# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore abl compiled r-code
*.r

*.pl

# Ignore visual studio code configuration
.vscode

# ignore clearcase files
**/.copyarea.db

.project

.settings

.propath

DBI*

lbi*

rcda*

srt*

.dbconnection

ubpf.config